<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div ng-show="isLoggedIn" class="logInForm">
                <h2 style="text-align: center">Logga in</h2>
                <form ng-submit="loggIn()">
                    <label class="logIn">Username<br/><input type="text" ng-model="username" class="input-lg logIn"/></label><br/>
                    <label class="logIn">Password<br/><input type="password" ng-model="password" class="input-lg logIn"/></label><br/>                    
                    <div class=""><input type="submit" value="Logga in" class="btn btn-info btn-block"/></div>

                </form></div>
        </div>
        <div ng-show="!isLoggedIn" class="loggedIn">

            <h2>Lägg till nåt</h2>
            <form ng-submit="addGame()">
                <span><span class="distance"><label><span class="lag">Hemmalag</span><select ng-model="hl" style="width: 150px;">
                            <option ng-repeat="team in teams" value="{{team.id}}">{{team.lag}}</option>
                        </select>
                    </label></span><label class="points">Hemmapoäng<input type="number" max="3" min="0" ng-model="ph"/></label>
                    <br/>
                <span class="distance"><label><span class="lag">Bortalag</span><select ng-model="bl" style="width: 150px;">
                            <option ng-repeat="team in teams" value="{{team.id}}">{{team.lag}}</option>
                        </select></label></span><label class="points">Bortapoäng<input type="number" max="3" min="0" ng-model="pb"/></label>
                        </span>
                <br/>
                <br/>
                <input type="submit" value="Lägg till match" class="btn btn-block btn-info"/>
                <br/>                        
            </form>
        </div>
    </div>
</div>