<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Lägg till nåt</h2>
            <div ng-show="!isLoggedIn">
                Logga in
                <form ng-submit="loggIn()">
                    <label>Username<input type="text" ng-model="username"/></label><br/>
                    <label>Password<input type="password" ng-model="password"/></label><br/>                    
                    <input type="submit" value="Logga in"/>

                </form>
            </div>
            <div ng-show="isLoggedIn">
                <label>Hemmalag<form ng-submit="addGame()">
                        <select ng-model="hl">
                            <option ng-repeat="team in teams" value="{{team.id}}">{{team.lagnamn}}</option>
                        </select>
                    </form>
                </label><br/>
                <label>Bortalag<form ng-submit="addGame()">
                        <select ng-model="bl">
                            <option ng-repeat="team in teams" value="{{team.id}}">{{team.lagnamn}}</option>
                        </select>
                    </form>
                </label><br/>
                <label>Hemmapoäng<input type="number" max="3" min="0">/></label>
                <label>Bortapoäng<input type="number" max="3" min="0">/></label>
                <input type="submit"/>

            </div>
        </div>
    </div>
</div>